<!DOCTYPE html>
<html>
  <head>
    <title>Desafio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* Estilo personalizado */
    body {
      background-color: #f0f0f0;
      padding: 20px;
    }
    .container {
      max-width: 600px;
      background-color: #fff;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      margin: 0 auto;
    }
    .btn-gmail {
      background-color: #4285F4;
      color: #fff;
    }
    .btn-gmail:hover {
      background-color: #357AE8;
    }
    .btn-gmail:focus {
      box-shadow: none;
    }
    .form-group label {
      font-weight: bold;
    }
    .revenue {
      background-color: #D7F3E3;
      border: 1px solid #9DE0B5;
      padding: 10px;
      border-radius: 5px;
      margin-top: 20px;
      text-align: center;
    }
  </style>
  <body>
    <%= yield %>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</html>
